{{#each pages}}
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{url}}">{{title}}</a></h2>
        <p>{{{excerpt characters=230}}}...</p>
    </div>
{{/each}}
{{#each posts}}
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{url}}">{{title}}</a></h2>
        {{#if date}}
            <p class="post-post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
        <p>{{{excerpt characters=230}}}...</p>
    </div>
{{/each}}